.container
  width: 97%
  max-width: 1256px
  margin: 0 auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-30
    flex-basis: 32.2%
  &-32
    flex-basis: 32%
  &-55
    width: 54%
  &-40
    width: 39%
  &-29
    width: 30%
  &-70
    width: 61.6%