@media screen and ( max-width: 1360px )
  html
    font-size: 12px
  .logo
    margin-left: 4rem
  .hero
    &__content
      margin-left: 2.5rem
@media screen and ( max-width: 1200px )
  .nav
    margin-left: 4rem
    &__item
      margin-right: 1.5rem
  .contacts
    &__phone
      margin-left: 2rem
@media screen and ( max-width: 992px )
  .menu
    justify-content: space-around
    margin-left: 0
  .logo
    margin: 0
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    padding: 10px
    justify-content: space-around
    &__scroll-down
      display: none
    &__title
      max-width: 22.86rem
      font-size: 2rem
      margin-bottom: 1rem
    &__content
      margin: 0
      padding: 0
    &__text
      font-size: 1.6rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 24.19rem
      margin-bottom: 1.85rem
      margin-right: 0
@media screen and ( max-height: 560px )
  .hero
    &__scroll-down
      display: none
  