.steps
  &__heading
    font-family: 'Futura Demi'
    font-style: normal
    font-weight: 500
    font-size: 1.07rem
  &__swiper-slide

    &-heading
      font-family: 'Yeseva One', cursive
      font-size: 1.07rem
      color: $primary
      font-weight: normal
      margin-right: 15rem
    &-value
      margin-right: 7.14rem
  &__swiper
    &-pagination

    &-button-next
