.steps
  padding-top: 10rem
  padding-bottom: 10rem
  &__heading
    font-family: 'Futura Demi'
    font-style: normal
    font-weight: 500
    font-size: 1.07rem
  &__swiper-slide
    width: 54.64rem
    height: 26.9rem
    &-heading
      font-family: 'Yeseva One', cursive
      font-size: 1.07rem
      color: $primary
      font-weight: normal
      margin-right: 15rem
    &-value
      margin-right: 7.14rem
  &__swiper
    &-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-between 
      padding-top: 5.71rem
    &-pagination

    &-button-next
.number
  border-bottom: 1.3px solid $primary
  font-family: 'Yeseva One', cursive
  font-size: 1.07rem
.slide-info
  line-height: 1.29rem
.swiper-slide
  background-size: cover
  background-position: center
  &__info
    cursor: pointer
    width: 68%




// .swiper-slide 
//   background-size: cover
//   background-position: center

.gallery-top 
  height: 80%
  width: 100%

.gallery-thumbs 
  height: 20%
  box-sizing: border-box
  padding: 10px 0

.gallery-thumbs .swiper-slide 
  width: 25%
  height: 100%
  opacity: 0.4

.gallery-thumbs .swiper-slide-thumb-active 
  opacity: 1


